<a href="https://colab.research.google.com/github/jes11111/Hands-On-Data-Analysis-with-Pandas-2nd-edition/blob/master/Colaboratory%EC%97%90_%EC%98%A4%EC%8B%A0_%EA%B2%83%EC%9D%84_%ED%99%98%EC%98%81%ED%95%A9%EB%8B%88%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
cd/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [13]:
weather = pd.read_csv('data/nyc_weather_2018.csv',index_col='date', parse_dates=['date'])
weather.head()

           datatype            station attributes  value
date
2018-01-01     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
2018-01-01     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2018-01-01     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
2018-01-01     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
2018-01-01     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [5]:
dp=weather.query('datatype == "PRCP"').groupby(level=0).mean()
dp

                value
date
2018-01-01   0.000000
2018-01-02   0.000000
2018-01-03   0.000000
2018-01-04   5.070370
2018-01-05  12.025926
...               ...
2018-12-27   0.000000
2018-12-28  10.673750
2018-12-29  18.341026
2018-12-30   0.068493
2018-12-31   4.128767

[365 rows x 1 columns]

In [6]:
dp.groupby(pd.Grouper(freq='Q')).sum()

                 value
date
2018-03-31  364.840077
2018-06-30  334.979325
2018-09-30  547.665911
2018-12-31  474.536973

In [10]:
dp.assign(
    quarterly_total_precipitation=lambda x:
    x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
    number_of_days_in_a_month= lambda x:
    x.groupby(pd.Grouper(freq='M')).value.transform('count')
)

,value,quarterly_total_precipitation,number_of_days_in_a_month
date,,,
2018-01-01,0.000000,364.840077,31
2018-01-02,0.000000,364.840077,31
2018-01-03,0.000000,364.840077,31
2018-01-04,5.070370,364.840077,31
2018-01-05,12.025926,364.840077,31
...,...,...,...
2018-12-27,0.000000,474.536973,31
2018-12-28,10.673750,474.536973,31
2018-12-29,18.341026,474.536973,31
2018-12-30,0.068493,474.536973,31
2018-12-31,4.128767,474.536973,31

In [16]:
import numpy as np
import pandas as pd

fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

              open    high       low   close    volume trading_volume
date
2018-01-02  177.68  181.58  177.5500  181.42  18151903            low
2018-01-03  181.88  184.78  181.3300  184.67  16886563            low
2018-01-04  184.90  186.21  184.0996  184.33  13880896            low
2018-01-05  185.59  186.90  184.9300  186.85  13574535            low
2018-01-08  187.20  188.90  186.3300  188.28  17994726            low

In [17]:
fb.pivot_table(
    index="trading_volume",columns= fb.index.month, values="close",aggfunc='count'
)

date            1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0